<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_PROXY_SECRET</key>
	<string>$(APP_PROXY_SECRET)</string>
	<key>APP_PROXY_URL</key>
	<string>$(APP_PROXY_URL)</string>
</dict>
</plist>
